:root {
  --fonte: 'Roboto', sans-serif;
  --corDeFundo: rgba(0, 0, 0, 0.9);
  --corBtBranco: rgba(255, 255, 255, 1);
  --corBtAzul: rgba(34, 113, 209, 1);
}

body {
  margin: 0;
  font-family: var(--fonte);
  background-color: var(--corDeFundo);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
